<div class="cocktail-form-container">

  <%= form_for [@cocktail, @dose] do |f| %>

    <div class="form-group">
      <%= f.label :ingredient, class: 'form-label' %>
      <%= f.select :ingredient_id, Ingredient.all.collect { |ingredient| [ ingredient.name, ingredient.id ] } %>
      <% if @dose.errors.messages[:cocktail_id].any? %>

        <div class="alert alert-danger alert-form"><i>- <%= @dose.errors.messages[:cocktail_id].join.to_s %></i></div>
      <% end %>
    </div>



    <div class="form-group">
      <%= f.label :description, class: 'form-label' %>
      <%= f.text_field :description, class: 'form-control' %>
      <% if @dose.errors.messages[:description].any? %>
      <div class="alert alert-danger alert-form"><i>- <%= @dose.errors.messages[:description].join.to_s %></i></div>
      <% end %>
    </div>


    <div class="form-group">
      <%= f.submit 'Add Dosage', class: 'form-control btn btn-primary' %>
    </div>


  <% end %>


</div>

<%= select_tag "timezone", options_from_collection_for_select(
      ActiveSupport::TimeZone.all.
        map { |tz| tz.tzinfo }.
        sort_by { |tzinfo| tzinfo.name },
      :name, :name),
      class: 'select2' %>

      <select class="select2">
  <!-- [...] -->
</select>
