<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>

  </head>

  <body style="background-image: url('<%= cl_image_path 'https://res.cloudinary.com/sgjunior/image/upload/c_scale,h_900,w_1600/v1526672136/wu-yi-196065-unsplash.jpg' %>')">
    <%= render 'shared/navbar_mdl' %>
    <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
      <main class="mdl-layout__content">
      <%= yield %>
      <div style="height: 100vh;"></div>
      <%= render 'shared/footer' %>
      </main>
      <div class="mdl-layout__obfuscator"></div>

    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
